extends layout

block append stylesheets
  link(rel="stylesheet", href="/assets/plugins/dropzone/dropzone.css")

block content
  include partials/navbar.pug
  section.title-transparent.page-title(style="background:url(assets/img/title-bg.jpg);")
    .container
      .title-content
        h1 Edit Listing
  .clearfix

  section
    if store.images && store.images.length > 0
      .container(style="border : 1px solid black; margin-bottom : 3em")
        .col-md-10.col-sm-12.col-md-offset-1.mob-padd-0
            .listing-box-header
                i.ti-gallery.theme-cl
                h3 Manage gallery
                h4(style="color : red") #{store.images.length} /5 Images
            each image in store.images
              .col-md-4.col-lg-4
                .listing-shot.grid-style
                  .listing-shot-img
                      img.img-responsive(src=image.secure_url style="width : 100%; height : 100%" alt='')
                  .listing-shot-info.rating
                    .row.extra
                      .col-md-12.col-sm-12.col-xs-12
                        a.theme-btn.btn-square.deleteImg(title="Delete Item" href=`/delete-image/${store.slug}` data-id=image.public_id  onclick='return confirm("Are you sure you want to delete?")')
                          i.ti-trash(style="color : black")

    .container
      .col-md-10.col-sm-12.col-md-offset-1.mob-padd-0
        .add-listing-box.edit-info.mrg-bot-25.padd-bot-30.padd-top-25
          .listing-box-header
            i.ti-gallery.theme-cl
            h3 Add Gallery
            p(style="color : red") * Upload a maximum of 5 images
            form(action=`/upload-image/${store.slug}` id="myImage" class="dropzone dz-clickable primary-dropzone" method="post")
              .dz-default.dz-message
                span Drag and drop
            button.btn.theme-btn#saveImage(type="submit") Upload Images

          .listing-box-header
            i.ti-files.theme-cl
            h3 General Information
            p Write Some general information about your listing
          form(action=`/edit-listing/${store.slug}` id="MainForm" method="post" enctype="multipart/form-data")
            .listing-box-header
              //.avater-box
                //img.img-responsive.img-circle.edit-avater(src=(store.header ? store.header.url : "/assets/img/avatar.png") style="width : 140px; height :140px" alt="")
                .upload-btn-wrapper
                  button.btn.theme-btn Change Header
              .col-md-12(style="border : 1px solid black; margin : 14px 71px; max-width : 80%; padding : 20px")
                h4 Change Header
                input(type="file" name="photo" accept=".jpg, .jpeg, .png" style="margin : 15px auto auto auto")
            .row.mrg-r-10.mrg-l-10
              .col-sm-6
                label Listing Title
                input.form-control(type="text" value=store.title disabled)
              .col-sm-6
                label Category
                select.form-control(data-placeholder="Choose Category" tabindex="2" name="category" value=store.category disabled)
                  option Restaurant 
              .col-sm-6
                label Website
                input.form-control(type="text" name="info.website" value=store.info.website)
              .col-sm-6
                label Email
                input.form-control(type="email" name="info.email" value=store.info.email)
              .col-sm-6
                label Phone
                h5(style="color : red")
                input.form-control(type="text" name="info.phone" minlength="14" maxlength="14" value=store.info.phone required) 
              .col-sm-12
                label Description
                textarea.h-100.form-control(name="description" id="description" minlength="20" maxlength="300" required)= store.description
            
            .listing-box-header
              i.ti-location-pin.theme-cl
              h3 Add Location
            .row.mrg-r-10.mrg-l-10
              .col-sm-6
                label Country
                input.form-control(type="text" name="info.country" value=store.info.country required)
              .col-sm-6
                label Address
                input.form-control(type="text" name="info.address" value=store.info.address required)
              .col-sm-6
                label State
                select.form-control(data-placeholder="Choose State" tabindex="2" name="info.state" )
                  option(selected)= store.info.state
                  option Lagos
                  option Abuja

            .listing-box-header
              i.ti-gift.theme-cl
              h3 Amenities
            .row.mrg-r-10.mrg-l-10
              .col-sm-4
                - const tagsList = ['alarm','deppaneur','gabazzin','wifi','gym']
                each tag in tagsList                 
                  span.custom-checkbox.d-block
                    input#select1(type="checkbox" name="tags" value=tag checked=store.tags.includes(tag) )
                    label(for="select")
                    | #{tag}

            .listing-box-header
              i.ti-time.theme-cl
              h3 Opening Hours
            .row.mrg-r-10.mrf-l-10
              .col-sm-12.mob-padd-0
                - const days = ['Monday','Tuesday','Wednesday','Thursday','Friday'];
                each day in days
                  .form-group
                    label.control-label.col-md-2 #{day}        
                    .col-md-5
                      select.form-control(data-placeholder="Choose Time" tabindex="2" name=`hours.${day}`)
                        option(selected)= store.hours[day][0]
                        option(value="1 AM") 1 :00 AM  
                        option(value="2 AM") 2 :00 AM  
                        option(value="3 AM") 3 :00 AM  
                        option(value="4 AM") 4 :00 AM  
                        option(value="5 AM") 5 :00 AM  
                        option(value="6 AM") 6 :00 AM  
                        option(value="7 AM") 7 :00 AM  
                        option(value="8 AM") 8 :00 AM  
                        option(value="9 AM") 9 :00 AM  
                        option(value="10 AM") 10 :00 AM  
                        option(value="11 AM") 11 :00 AM  
                        option(value="12 AM") 12 :00 AM  
                        option(value="1 PM") 1 :00 PM  
                        option(value="2 PM") 2 :00 PM  
                        option(value="3 PM") 3 :00 PM  
                        option(value="4 PM") 4 :00 PM  
                        option(value="5 PM") 5 :00 PM  
                        option(value="6 PM") 6 :00 PM  
                        option(value="7 PM") 7 :00 PM  
                        option(value="8 PM") 8 :00 PM  
                        option(value="9 PM") 9 :00 PM  
                        option(value="10 PM") 10 :00 PM  
                        option(value="11 PM") 11 :00 PM   
                        option(value="Closed") Closed
                    
                    .col-md-5
                      select.form-control(data-placeholder="Choose Time" tabindex="2" name=`hours.${day}`)
                        option(selected)= store.hours[day][1]
                        option(value="1 AM") 1 :00 AM  
                        option(value="2 AM") 2 :00 AM  
                        option(value="3 AM") 3 :00 AM  
                        option(value="4 AM") 4 :00 AM  
                        option(value="5 AM") 5 :00 AM  
                        option(value="6 AM") 6 :00 AM  
                        option(value="7 AM") 7 :00 AM  
                        option(value="8 AM") 8 :00 AM  
                        option(value="9 AM") 9 :00 AM  
                        option(value="10 AM") 10 :00 AM  
                        option(value="11 AM") 11 :00 AM  
                        option(value="12 AM") 12 :00 AM  
                        option(value="1 PM") 1 :00 PM  
                        option(value="2 PM") 2 :00 PM  
                        option(value="3 PM") 3 :00 PM  
                        option(value="4 PM") 4 :00 PM  
                        option(value="5 PM") 5 :00 PM  
                        option(value="6 PM") 6 :00 PM  
                        option(value="7 PM") 7 :00 PM  
                        option(value="8 PM") 8 :00 PM  
                        option(value="9 PM") 9 :00 PM  
                        option(value="10 PM") 10 :00 PM  
                        option(value="11 PM") 11 :00 PM   
                        option(value="Closed") Closed

            .listing-box-header
              i.ti-write.theme-cl
              h3 Social Media
            .row.mrg-r-10.mrg-l-10
                .col-sm-6
                  label 
                    i.fa.fa-facebook.mrg-r-5(aria-hidden="true")
                    | facebook Link  
                  input.form-control(type="text" name ="social_media.facebook" value=store.social_media.facebook || '')
                .col-sm-6
                  label 
                    i.fa.fa-twitter.mrg-r-5(aria-hidden="true")
                    | Twitter Link  
                  input.form-control(type="text" name="social_media.twitter" value=store.social_media.twitter || '')

            .text-center
              button.btn.theme-btn(type="submit") Save
  
  include partials/footer.pug
block append scripts
  script(src="/assets/plugins/dropzone/dropzone.js")
  script.
    Dropzone.options.myImage = {
      autoProcessQueue : false,
      uploadMultiple : true,
      maxFilesize : 5,
      maxFiles : 5,
      addRemoveLinks : true,
      init : function(){

        $('#saveImage').on('click', function(e){
          e.preventDefault();
          $('#myImage').get(0).dropzone.processQueue();
        })

        this.on('successmultiple', function(file,response){
          console.log(response);
        })

        this.on("maxfilesexceeded", function(file) {
          this.removeFile(file); 
        });
      }
    }
  script.
    $('a.deleteImg').on('click', function(e){
      e.preventDefault();
      var url = $(this).attr('href');
      var data = $(this).attr('data-id');
      $.post({
        url : url,
        data : {id : data},
        success : function(result){
          window.location.href = '/edit-listing/#{store.slug}'
          console.log(result)
        }
      })
    })
    document.querySelector('form#MainForm').addEventListener('submit', function(e){
      var phone = document.querySelector("input[name='info.phone']")
      if( !(phone.value.match(/\+234\d{10}/g)) ){
        e.preventDefault();
        phone.focus();
        phone.previousSibling.textContent = "* Must start with +234 e.g +2347016843520";
      }
    })
