extends layout

block content
  include partials/navbar.pug
  section.title-transparent.page-title(style="background-color:red;")
    .container
      .title-content
        h1 User Profile
  .clearfix

  section.padd-0
    .container
      .col-md-10.translateY-60.col-sm-12.col-md-12.col-md-offset-1
        .add-listing-box.edit-info.mrg-bot-25.padd-bot-30.padd-top-25
          h3 #{name}
          form(action="/edit-profile" method="post" encType="multipart/form-data")
            .listing-box-header
              .avater-box
                img.img-responsive.img-circle.edit-avater(src=(user.photo.url || "assets/img/avatar.png") style="width : 140px; height :140px" alt="")
                .upload-btn-wrapper
                  button.btn.theme-btn Change Avatar
                  input(type="file" name="photo" accept=".jpg, .jpeg, .png")
            .row.mrg-r-10.mrg-l-10
              .col-sm-6
                label Name
                input.form-control(type="text", value=user.name disabled)
              .col-sm-6
                label Email
                input.form-control(type="text", value=user.email disabled)
              .col-sm-6
                label Phone
                input.form-control(type="text", name="info.phone" value=(user.info.phone || '') )

            .add-location.mrg-bot-25.padd-bot-30.padd-top-25
              .listing-box-header
                i.ti-location-pin.theme-cl
                h3 Edit Location
                p Write Address information about your listing location
          
            .row.mrg-r-10.mrg-l-10
              .col-sm-6
                label Country
                input.form-control(type="text" name="country" value=user.info.country disabled)
              .col-sm-6
                label State
                input.form-control(type="text" name ="state" value=user.info.state  disabled)
              .col-sm-6
                label Address
                input.form-control(type="text" name="info.address" value=(user.info.address || '') )
            
            .full-detail.mrg-bot-25.padd-bot-30.padd-top-25
              .listing-box-header
                i.ti-write.theme-cl
                h3 Full Details
                p Write Address information about your listing location
          
            .row.mrg-r-10.mrg-l-10
              .col-sm-6
                label 
                  i.fa.fa-facebook.mrg-r-5(aria-hidden="true")
                  | facebook Link  
                input.form-control(type="text" name ="social_media.facebook" value=(user.social_media.facebook || '') )
              .col-sm-6
                label 
                  i.fa.fa-twitter.mrg-r-5(aria-hidden="true")
                  | Twitter Link  
                input.form-control(type="text" name="social_media.twitter" value=(user.social_media.twitter || '') )
            
            .center(style="padding : 2em;")
              button.btn.btn-midium.theme-btn.btn-radius.width-200#login-btn(type="submit") Save
  include partials/footer.pug