extends layout

block content
  include partials/navbar.pug
  .banner.light-opacity(style='background-image:url(assets/img/slider-2.jpg);')
    .container
      .banner-caption
        .col-md-12.col-sm-12.banner-text
          h1 Cooking with fine Wine
          p
            | Food & Wine goes way beyond mere eating and drinking. We're on a mission to find the most exciting places, new experiences, emerging trends and sensations
  .clearfix

  section
    .container
      .row
        .col-md-10.col-md-offset-1
          .heading
            h2
              | Popular 
              span Listings
            p
      .row
        if stores
          each listing in stores
            .col-md-4.col-sm-6
              .listing-shot.grid-style
                a.slug(href=`/listing/${listing.slug}`)
                  .listing-shot-img
                    img.img-responsive(src=(listing.header ? listing.header.url :'assets/img/category/art.jpg') style="width : 100%; height : 100%" alt='')
                  .listing-shot-caption
                    h3 #{listing.title.toUpperCase()}
                    p.listing-location #{listing.info.state}, #{listing.info.country}
                .listing-shot-info
                  .row.extra
                    .col-md-12
                      .listing-detail-info
                        h4 Description
                        p= listing.description.slice(0,75) + '...'
                .listing-shot-info.rating
                  .row.extra
                    if listing.reviews && listing.reviews.length > 0
                      .col-md-8.col-sm-8.col-xs-8
                        - let ratings = listing.reviews.map( value => value.rating)
                        - let avg = ratings.reduce( (prev,curr) => prev + curr )
                        h6(style="font-size : 1.1em") #[strong(style="color : red") #{ (avg/ratings.length).toFixed(1) } / 5]   ( #{listing.reviews.length} review#{listing.reviews.length > 1 ? 's' : ''} )
                    else
                      .col-md-8.col-sm-8.col-xs-8
                        h6(style="font-size : 1.1em") No review
                    .col-md-4.col-sm-4.col-xs-4-.pull-right
                      a.detail-link.special
                        if currentUser && currentUser.bookmarks.length
                          if (currentUser.bookmarks.filter( value => value.toString() == listing._id) ).length > 0
                            i.fa.fa-heart-o(aria-hidden='true' style="font-size : 1.7em; color:red")
        else
          .col-md-4.col-sm-6
            p No store found
  include partials/footer.pug