extends layout

block append stylesheets
  link(href="/assets/plugins/rating-js/jquery-rating.css" rel="stylesheet")  

block content
  include partials/navbar.pug    
  section.detail-section(style=`background:url(${ store.header ? store.header.url : '/assets/img/slider-2.jpg' });`)
    .overlay(style="background-color: rgb(36,36,41); opactity:0.5;")
    .profile-cover-content
      .container
        .cover-buttons
          ul
            li
              .buttons.medium.button-plain
                i.fa.fa-phone
                | #{store.info.phone}
            li
              .buttons.medium.button-plain
                i.fa.fa-map-marker
                | #{store.info.state}, #{store.info.country}
            li
              if (store.reviews && store.reviews.length)
                .inside-rating.buttons.listing-rating.theme-btn.button-plain
                  - let ratings = store.reviews.map( value => value.rating)
                  - let avg = ratings.reduce( (prev,curr) => prev + curr )
                  span.value #{ (avg/ratings.length).toFixed(1) }
                  sup.out-of  /5
            li
              a.buttons.btn-outlined.medium.add-review(href="#review")
                i.fa.fa-comments-o
                span.hidden-xs Add Review
            li
              //a.buttons.btn-outlined(href="#" data-listing-id="74" data-nonce="01a769d424")
                i.fa.fa-heart
                span.hidden-xs Bookmark
              if currentUser
                a.buttons.btn-outlined.detail-link.special
                  if (currentUser.bookmarks.filter( value => value.toString() == store._id) ).length > 0
                    i.fa.fa-heart-o(aria-hidden='true' style="font-size : 1.7em; color:red")
                  else
                    i.fa.fa-heart-o(aria-hidden='true' style="font-size : 1.7em; color:black")
  section.list-detail
    .container
      .row
        .col-md-8.col-sm-12
          .detail-wrapper
            .detail-wrapper-body
              .listing-title-bar
                h3 #{store.title}
                  span.mrg-l-5.category-tag #{store.category}
                div
                  a.listing-address(href="#listing-location")
                    i.ti-location-pin.mrg-r-5
                    | #{store.info.address}          
          .detail-wrapper
            .detail-wrapper-header
              h4 Overview
            .detail-wrapper-body 
              //pre #{Math.floor(avg/ratings.length)}
              //pre= JSON.stringify(store.reviews, null, 3)
              p #{store.description}     
          .detail-wrapper
            .detail-wrapper-header
              h4 Amenities
            .detail-wrapper-body
              ul.detail-check
                each tag in store.tags
                  li #{tag}
          if store.info.address_latitude
            .detail-wrapper
              .detail-wrapper-header
                h4 Location
              .detail-wrapper-body
                .full-width#map_full_width_one(style="height:400px;")
          .detail-wrapper
            .detail-wrapper-header
              h4 #{store.reviews ? store.reviews.length : 0} Review(s)
            if store.reviews
              each review in store.reviews
                .detail-wrapper-body
                  ul.review-list
                    li
                      .reviews-box
                        .review-body
                          .review-avatar
                            img.avatar.avatar-140.photo(src="/assets/img/avatar.png" alt="")
                          .review-content
                            .review-info(style="border-bottom : 1px solid #eaeff5")
                              .review-comment
                                .review-author
                                  | #{review.user.name}
                                .review-comment-stars
                                  - let rest = 5 - review.rating;
                                  - for(var i = 0; i < review.rating; i++){
                                      i.fa.fa-star
                                  - }
                                  - for(var a = 0; a < rest; a++){
                                      i.fa.fa-star(style="color : #a09f9c")
                                  - }
                              .review-comment-date
                                .review-date
                                  span #{moment(review.created).fromNow()}
                            p #{review.text}
          .detail-wrapper
            .detail-wrapper-header
              h4 Rate & Write Reviews
            if currentUser
              .detail-wrapper-body
                form(action=`/review/${store._id}` method="post")
                  .row
                    .col-md-6
                      input(type="hidden", name="rating" value="1" id="ratingVal")
                  .row(style="margin-bottom : 1em")
                    .col-md-12.col-sm-12
                      .rating-opt
                        .jr-ratenode.jr-nomal
                        .jr-ratenode.jr-nomal
                        .jr-ratenode.jr-nomal
                        .jr-ratenode.jr-nomal
                        .jr-ratenode.jr-nomal
                  .row
                    .col-sm-12
                      //label(for="") Content :
                      textarea.form-control.height-110(name="content" placeholder="Tell us your experience")
                    .col-sm-12
                      button.btn.theme-btn(type="submit" placeholder="Your Name") Submit
            else
              .detail-wrapper-body
                .row.mrg-bot-10
                  .col-md-12
                    h3 You need to login to post a review
                  .col-sm-12
                    a(href="/login" class="btn theme-btn mrg-top-20") Login

        .col-md-4.col-sm-12
          .sidebar
            .widget-boxed
              .widget-boxed-header
                h4
                  i.ti-calendar.padd-r-10
                  | Book a reservation
              form(action=`/reserve/${store.slug}` method="post")
                .widget-boxed-body
                  .row
                    .col-lg-12.col-md-12
                      p(style="color : red") * Reservations expire after 24 hours
                    .col-lg-12.col-md-12
                      label Name
                      input.form-control(type="text" name="reservationName" maxlength="30" required)
                    .col-lg-6.col-md-12
                      label Date
                      - const now = moment().format('YYYY-MM-DD')
                      - const later = moment().add(1,'d').format('YYYY-MM-DD')
                      input.form-control(type="date" name="date" min=now max=later required)
                    .col-lg-6.col-md-12
                      label Time
                      input.form-control(type="time" name="time" min=(moment().format('HH:mm')) required)
                    .col-lg-6.col-md-12
                      label Phone Number
                      input.form-control(type="text" name="phone" maxlength="11" minlength="11" required)
                    .col-lg-6.col-md-12
                      label How many People
                      input.form-control(type="number" name="number" min="1" max="5" required)
                    .col-lg-12.col-md-12
                      label Info
                      textarea.form-control.height-110(name="text" maxlength="100" placeholder="Any extra information about your reservation you would like us to take note of?")
                    
                  button.btn.reservation.btn-radius.theme-btn.full-width.mrg-top-10(type="Submit")
                    | Book
            .widget-boxed
              .widget-boxed-header
                h4
                  i.ti-calendar.padd-r-10
                  | Send a message
              form(action=`/send-message/${store.info.email}` method="post")
                .widget-boxed-body
                  .row
                    .col-lg-12.col-md-12
                      label Name
                      input.form-control(type="text" name="username" maxlength="30" required)
                    .col-lg-6.col-md-12
                      label Email
                      input.form-control(type="text" name="useremail" required)
                    .col-lg-6.col-md-12
                      label Phone Number
                      input.form-control(type="text" name="phone" maxlength="11" minlength="11" required)
                    .col-lg-12.col-md-12
                      label Message
                      textarea.form-control.height-110(name="text" maxlength="100" placeholder="Any enquiries?" required)
                    
                  button.btn.reservation.btn-radius.theme-btn.full-width.mrg-top-10(type="Submit")
                    | Send Message
            .widget-boxed
              .widget-boxed-header
                h4
                  i.ti-time.padd-r-10
                  | Opening Hours
              .widget-boxed-body
                .side-list
                  ul
                    each val, index in store.hours
                      li #{index}
                        - var [ opening, closing ] = val  
                        if (opening === 'Closed' || closing === 'Closed')
                          span Closed
                        else
                          span #{opening} - #{closing}
            
            .widget-boxed
              .widget-boxed-header
                h4
                  i.ti-gallery.padd-r-10
                  | Gallery
              .widget-boxed-body
                .side-list.no-border.gallery-box
                  if store.images && store.images.length > 0
                    ul.gallery-list
                        each gallery in store.images
                          li
                            a(data-fancybox="gallery" href=gallery.url)
                              img.img-responsive(src=gallery.url)
                  else
                    p No image
            
            .widget-boxed
              .widget-boxed-header
                h4
                  i.ti-location-pin.padd-r-10
                  | Location
              .widget-boxed-body
                .side-list.no-border
                  ul
                    li
                      i.ti-location-pin.padd-r-10
                      | #{store.info.address}
                    li
                      i.ti-mobile.padd-r-10
                      | #{store.info.phone}
                    li
                      i.ti-email.padd-r-10
                      | #{store.info.email}
                    li
                      i.ti-world.padd-r-10
                        a(href=`http://${store.info.website}` style="padding-left:15px") #{store.info.website}
                  ul.side-list-inline.no-border.social-side
                    if (store.social_media.twitter)
                      li
                        a(href=`https://twitter.com/${store.social_media.twitter}`)
                          i.fa.fa-twitter.theme-cl
                    if (store.social_media.facebook)
                      li
                        a(href=`https://facebook.com/${store.social_media.facebook}`)
                          i.fa.fa-facebook.theme-cl
  include partials/footer.pug

block append scripts
  script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAmiJjq5DIg_K9fv6RE72OY__p9jz0YTMI")
  script(src="/assets/js/gmap3.min.js")
  script(src="/assets/plugins/rating-js/jquery-rating.js")
  script(src="/assets/js/custom.js")
  script.
    $('.special .fa').on('click', function(e){
    if( $(this).css('color') == 'rgb(0, 0, 0)' ){
    $.ajax({
    url : '/api/bookmark/#{store.slug}',
    method : 'get',
    success : function(what){
    console.log(what);
    }
    })
    $(this).css('color','red')
    }else if( $(this).css('color') == 'rgb(255, 0, 0)' ){
    $.ajax({
    url : '/api/removebookmark/#{store.slug}',
    method : 'get',
    success : function(what){
    console.log(what);
    }
    })
    $(this).css('color','black')
    }
    })
  script.
    latitude="#{store.info.address_latitude}";
    longitude="#{store.info.address_longitude}";
    $('#map_full_width_one').gmap3({
        map: {
          options: {
            zoom: 15,
            center: [latitude, longitude],
            mapTypeControl: true,
            mapTypeControlOptions: {
              style: google.maps.MapTypeControlStyle.DROPDOWN_MENU
            },
            mapTypeId: "style1",
            mapTypeControlOptions: {
              mapTypeIds: [google.maps.MapTypeId.ROADMAP, "style1"]
            },
            navigationControl: true,
            scrollwheel: false,
            streetViewControl: true
          }
        },
        marker: {
          latLng: [latitude, longitude]
        },
        styledmaptype: {
          id: "style1",
          options: {
            name: "Style 1"
          },
        }
      })
