extends layout

block content
  include partials/navbar.pug
  section.title-transparent.page-title(style="background-color : #ff431e")
    .container
      .title-content
        h1 Listings
        .breadcrumbs
          a(href="/index") Home
          span.gt3_breadcrumb_divider
          span.current Listings
  .clearfix

  section
    .container
      .row
        each listing in stores
          .col-md-4.col-sm-6
            .listing-shot.grid-style
              a(href=`/listing/${listing.slug}`)
                .listing-shot-img
                  img.img-responsive(src='assets/img/category/art.jpg' alt='')
                  span.like-listing
                    i.fa.fa-heart-o(aria-hidden='true')
                .listing-shot-caption
                  h4 #{listing.title}
                  p.listing-location #{listing.info.state}, #{listing.info.country}
              .listing-shot-info
                .row.extra
                  .col-md-12
                    .listing-detail-info
                      span
                        i.fa.fa-phone(aria-hidden='true')
                        | #{listing.info.phone}
                      span
                        i.fa.fa-globe(aria-hidden='true')
                        |  #{listing.info.website}
              .listing-shot-info.rating
                .row.extra
                  .col-md-7.col-sm-7.col-xs-6
                    i.color.fa.fa-star(aria-hidden='true')
                    i.color.fa.fa-star(aria-hidden='true')
                    i.color.fa.fa-star(aria-hidden='true')
                    i.fa.fa-star(aria-hidden='true')
                    i.fa.fa-star(aria-hidden='true')
                  .col-md-5.col-sm-5.col-xs-6.pull-right
                    a.detail-link(href='#') Open Now
  include partials/footer.pug