extends layout

block content
  include partials/navbar.pug
  section.title-transparent.page-title(style="background-color : red;")
    .container
  .clearfix

  section.padd-0
    .container
      .col-md-12.translateY-20.col-sm-12
        .add-listing-box.edit-info.mrg-bot-25.padd-bot-30.padd-top-25
          .listing-box-header
            .avater-box
              img.img-responsive.img-circle.edit-avater(src=(currentUser.photo ? currentUser.photo.url : "/assets/img/avatar.png") style="width : 140px; height :140px" alt="image")
              span.avater-status.status-pulse.online
              h3 #{currentUser.name}
              p Total Listings : #{store.length}
  
  section.manage-listing.padd-top-0
    .container
      .col-md-12.col-sm-12
        .row
          .col-md-8
          .col-md-4
            .full-right.search-wrapper
              input.form-control(type="search" placeholder="Filter by Listing Name")
    .container
      .row
      each listing in store
        .col-md-4.col-sm-6.col-lg-4
          .listing-shot.grid-style
            .listing-shot-caption(style="height : 108px;")
              h4 Title : #[a(href=`/listing/${listing.slug}`) #{listing.slug} ]
              p.listing-location Date created : #{moment(listing.created).format("MMMM Do YYYY, h:mm a")}
            //.listing-shot-info(style="height : 68px")
              .row.extra
                .col-md-12
                  .listing-detail-info
                    span
                      i.ti-location-pin(aria-hidden='true')
                      | #{listing.info.address}
            .listing-shot-info.rating
              .row.extra
                .col-md-12.col-sm-12.col-xs-12
                  a.light-gray-btn.btn-square(title="Edit Item" href=`/edit-listing/${listing.slug}`)
                    i.ti-pencil(style="color : black")
                  a.theme-btn.btn-square(title="Delete Item" href=`/delete-listing/${listing.slug}`  onclick='return confirm("Are you sure you wan to delete?")')
                    i.ti-trash(style="color : black")
                  if listing.reservations.length > 0
                    a(title="Reservations" href=`/view-reservations/${listing.slug}` style="position: relative; float: right; line-height: 50px;")
                      span Reservations
  include partials/footer.pug