extends layout


block content
  include partials/navbar.pug
  section.title-transparent.page-title(style="background-color : red;")
    .container
      .title-content
  .clearfix

  section.padd-0
    .container
      .add-listing-box.edit-info.translateY-60.mrg-bot-25.padd-bot-30.padd-top-25
        .listing-box-header
          .avater-box
            img.img-responsive.img-circle.edit-avater(src="assets/img/avatar.jpg" alt="")
            span.avater-status.status-pulse.online
          h3 #{name}
        .row.mrg-r-10.mrg-l-10.preview-info
          .col-sm-6
            label(for="")
              i.ti-mobile.preview-icon.call.mrg-r-10
              | #{phone}
          .col-sm-6
            label(for="")
              i.ti-email.preview-icon.email.mrg-r-10
              | #{email}
  
  section.padd-top-0
    .container
      .col-md-6.col-sm-12.mob-padd-0
        .add-listing-box.edit-info.mrg-bot-25.padd-bot-30.padd-top-25
          .preview-info-header
            h4 Basic Info
          .preview-info-body
            ul.info-list
              li
                label Phone:
                span #{phone}
              li
                label State:
                span #{state}
              li
                label Country:
                span #{country}
      
      .col-md-6.col-sm-12.mob-padd-0
        .add-listing-box.edit-info.mrg-bot-25.padd-bot-30.padd-top-25
          .preview-info-header
            h4 Social media
          .preview-info-body
            ul.social-info.info-list        
                li
                  if Boolean(facebook)    
                    label
                      a(href=facebook)
                        i.fa.fa-facebook
                  if Boolean(twitter)
                    label
                      a(href=twitter)
                        i.fa.fa-twitter
  include partials/footer.pug