extends layout


block content
  include partials/navbar.pug
  section.title-transparent.page-title(style="background-color : red;")
    .container
      .title-content
  .clearfix

  section.padd-0
    .container
      .add-listing-box.edit-info.translateY-60.mrg-bot-25.padd-bot-30.padd-top-25
        .listing-box-header
          .avater-box
            img.img-responsive.img-circle.edit-avater(src=(currentUser.photo ? currentUser.photo.url : "/assets/img/avatar.png") style="width : 140px; height :140px" alt="image")
            span.avater-status.status-pulse.online
          h3 #{currentUser.name}
          if store
            h5 Total Reservations : #{store.reservations.length}
        //.row.mrg-r-10.mrg-l-10.preview-info
          .col-sm-6
            label(for="")
              h3 #{currentUser.info.phone}
  
  section.padd-top-0
    .container
      .col-md-12.col-sm-12.mob-padd-0
        .add-listing-box.edit-info.mrg-bot-25
          .preview-info-header
            h4 Reservations Made
          //.preview-info-body
        if store
            if store.reservations.length > 0
              .col-md-12.col-sm-12.mob-padd-0
                .listing-shot.grid-style
                  .listing-shot-caption()
                    h4(style="text-transform : Uppercase") Title : #{store.slug}
                    //p.listing-location Total Reservations : #{store.reservations.length}
                  each reservation in store.reservations
                    .col-md-4.col-sm-4
                      .listing-shot.grid-style
                        .listing-shot-caption()
                          p.listing-location Name : #{reservation.user_name}
                          p.listing-location Number : #{reservation.user_number}
                          p.listing-location Number of People : #{reservation.number_of_people}
                          p.listing-location Date of reservation : #{reservation.date}
                          p.listing-location Time : #{reservation.time}
      
      //.col-md-6.col-sm-12.mob-padd-0
        .add-listing-box.edit-info.mrg-bot-25.padd-bot-30.padd-top-25
          .preview-info-header
            h4 Reservations recieved
          .preview-info-body
            ul.social-info.info-list        
                li
                  if Boolean(currentUser.social_media.facebook)    
                    label
                      a(href=currentUser.social_media.facebook)
                        i.fa.fa-facebook
                  if Boolean(currentUser.social_media.twitter)
                    label
                      a(href=currentUser.social_media.twitter)
                        i.fa.fa-twitter
  include partials/footer.pug