extends layout

block content
  include partials/navbar.pug
  section.title-transparent.page-title(style="background-color : #ff431e")
    .container
      .title-content
        h1 Search for listings
        .breadcrumbs
          a(href="/") Home
          span.gt3_breadcrumb_divider
          span.current Search
  .clearfix

  section.padd-top-0.padd-bot-0
    .container
      .row
        .col-md-12.col-sm-12
          .white-box.white-shadow.padd-top-30.padd-bot-30.translateY-60
            form.form-verticle(method='POST' action='/search')
              .col-md-4.col-sm-4.no-padd
                input.form-control.left-radius(type='text' placeholder='Keywords..' name='keyword')
              .col-md-3.col-sm-3.no-padd
                input.form-control(type='text' placeholder='Location..' name='location')
              .col-md-3.col-sm-3.no-padd
                select.form-control(name='category')
                  option(value="Restaurant" selected) Restaurant
              .col-md-2.col-sm-2.no-padd
                button.btn.theme-btn.normal-height.full-width(type='submit')
                  | Search
  
  section.padd-top-20
    .container
      .row.mrg-bot-20
        .col-md-6
          h5 Sort By
        .col-md-6
          .layout-option.pull-right
            a.active(href="#" title="Grid Layout")
              i.ti-layout-grid3
            a(href="#" title="List Layout")
              i.ti-view-list
      .row
        if stores
          each listing in stores
            .col-md-4.col-sm-6
              .listing-shot.grid-style
                a.slug(href=`/listing/${listing.slug}`)
                  .listing-shot-img
                    img.img-responsive(src='assets/img/category/art.jpg' alt='')
                  .listing-shot-caption
                    h3 #{listing.title.toUpperCase()}
                    p.listing-location #{listing.info.state}, #{listing.info.country}
                .listing-shot-info
                  .row.extra
                    .col-md-12
                      .listing-detail-info
                        h4 Description
                        p= listing.description.slice(0,75) + '...'
                .listing-shot-info.rating
                  .row.extra
                    if listing.reviews && listing.reviews.length
                      .col-md-8.col-sm-8.col-xs-8
                        - let ratings = listing.reviews.map( value => value.rating)
                        - let avg = ratings.reduce( (prev,curr) => prev + curr )
                          h6(style="font-size : 1.1em") #[strong(style="color : red") #{ (avg/ratings.length).toFixed(1) } / 5]   ( #{listing.reviews.length} review#{listing.reviews.length > 1 ? 's' : ''} )
                    else
                      .col-md-8.col-sm-8.col-xs-8
                        h6(style="font-size : 1.1em") No review yet
                    .col-md-4.col-sm-4.col-xs-4.pull-right
                      a.detail-link.special
                        if currentUser && currentUser.bookmarks.length
                          if (currentUser.bookmarks.filter( value => value.toString() == listing._id) ).length > 0
                            i.fa.fa-heart-o(aria-hidden='true' style="font-size : 1.7em; color:red")
      //.row
        .col-md-12
          .bs-example
            ul.pagination
              li
                a(href="#") &laquo;
              li
                a(href="#") 1
              li
                a(href="#") 2
              li
                a(href="#") 3
              li
                a(href="#") &raquo;
  
  include partials/footer.pug